build/
build-*/
node_modules/
installer/output/
*.user
.vs/
presets/
tools/trailer/frames/
Builds/Android/local.properties
Builds/Android/.gradle/
Builds/Android/build/
Builds/Android/app/build/
build-projucer/
